* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 25px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
}
i {
    margin-right: 6px;
}

.landing-page-link-container {
    display: flex;
    justify-content: space-evenly;
}
.landing-page-logo {
    font-size: 50px;
    color: white;
    margin: 0px 15px;
}
.landing-page-logo span {
    font-size: 60px;
    color: crimson;
}
.landing-page-logo:hover {
    cursor: pointer;
}
.main-link-container {
    position: relative;
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
    /* background-color: black; */
}
ul li {
    float: left;
    text-transform: capitalize;
    margin-right: 70px;
    padding: 25px 0px;
}
ul li a {
    text-decoration: none;
    color: crimson;
}
ul li a:hover {
    color: red;
}
.link-btn-ed {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-menu-1 {
    margin-top: 10px;
    margin-left: -10px;
    position: absolute;
    z-index: 50;
    display: none;
}
.sub-menu-1 ul li {
    margin-top: 0px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.062);
    width: 75%;
    text-align: center;
}
.sub-menu-1 ul li a {
    text-decoration: none;
    color: white;
}
.sub-menu-1 ul li a:hover {
    cursor: pointer;
    color: crimson;
}
ul li:hover .sub-menu-1 {
    display: block;
}
.sub-menu-2 {
    position: absolute;
    left: 140px;
    top: 140px;
    display: none;
}
.sub-menu-2.ed1 {
    position: absolute;
    left: 171px;
    top: 100px;
}
.sub-menu-2.ed1 ul li {
    width: 180px;
}
.sub-menu-2.ed2 {
    position: absolute;
    left: 283px;
    top: 50px;
}
.sub-menu-1.ed3 {
    width: 200px;
}
.sub-menu-2.pr1 {
    position: absolute;
    left: 150px;
}
.sub-menu-2 ul li {
    background-color: rgba(255, 255, 255, 0.13);
}
.sub-menu-2 ul li a {
    color: white;
}
ul li ul li:hover .sub-menu-2 {
    display: block;
}


.link-text {
    display: flex;
    align-items: center;
    color: white;
    text-transform: capitalize;
}
.link-text span {
    color: crimson;
}
.primary-btn {
    align-self: start;
    color: white;
    padding: 10px 30px;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: crimson;
    margin-left: 10px;
    transition: 0.4s;
}
.primary-btn:hover {
    cursor: pointer;
    background-color: transparent;
    border: 3px solid crimson;
    color: crimson;
}
.header-link-sm-container {
    background-color: crimson;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-link-sm-container span {
    color: rgb(85, 7, 22);
}
.header-link-sm-container .primary-btn {
    background-color: rgb(146, 13, 40);
}
.header-link-sm-container .primary-btn:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(85, 7, 22);
}
.navicon {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(146, 13, 40);
    transition: 0.3s;
}
.navicon:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(146, 13, 40);
    color: rgb(85, 7, 22);
}


@media (max-width: 1325px) {
    .landing-page-link-container {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 1254px) {
    .link-btn-ed {
        /* margin-top: 20px; */
    }
}
@media (max-width: 889px) {
    .main-link-container {
        /* margin-top: 20px; */
    }
}
@media (max-width: 825px) {
    .header-link-sm-container {
        display: flex;
        flex-wrap: wrap;
    }
}



.container {
    min-width: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.hero {
    background-image: url('/images/landing_page_image.png.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    padding-top: 30px;
    position: relative;
    z-index: 1;
}
.hero::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
.hero .hero {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 50px;
    justify-content: 50px;
}
.hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text-reveal 0.5s ease forwards;
    animation-delay: 1s;
}
.ed {
    margin-top: 120px;
}
.ed2 {
    margin-left: -100px;
}
.hero h1:nth-child(1) {
    animation-delay: 1s;
}
.hero h1:nth-child(2) {
    animation-delay: 2s;
}
.hero h1:nth-child(3) {
    animation: text-reveal-name 0.5s ease forwards;
    animation-delay: 3s;
}
.hero h1:nth-child(4) {
    /* animation: text-reveal-name 0.5s ease forwards; */
    animation-delay: 4s;
}
.hero h1 span {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: crimson;
    animation: text-animation-box 1s ease;
    animation-delay: 0.3s;
}
.hero h1 i {
    transition: 0.3s;
}
.hero h1 i:hover {
    cursor: pointer;
    color: crimson;
}
.hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}
.hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
.hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}
.hero h1:nth-child(4) span {
    animation-delay: 3.5s;
}
.hero .btn {
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    margin-bottom: 50px;
    margin-top: 100px;
}
.hero .btn:hover {
    color: white;
    background-color: crimson;
}

@keyframes text-animation-box {
    50% {
        width: 100%;
        left: 0px;
    }
    100% {
        width: 0px;
        left: 100%;
    }
}
@keyframes text-reveal {
    100% {
        color: white;
    }
}
@keyframes text-reveal-name {
    100% {
        color: crimson;
        font-weight: 500px;
    }
}

@media (max-width: 756px) {
    html {
        font-size: 20px;
    }
}
@media (max-width: 616px) {
    html {
        font-size: 15px;
    }
}
@media (max-width: 489px) {
    html {
        font-size: 10px;
    }
}


.about-container {
    background-color: #f7f5f5;
    padding-top: 100px;
    padding-bottom: 70px;
}
.about-header {
    font-size: 40px;
    text-transform: uppercase;
    color: crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 50px;
}
.about-content-container {
    display: flex;
    justify-content: center;
}
.about-content-image {
    background-image: url('/images/about.jpg');
    background-size: cover;
    width: 500px;
    height: 700px;
    margin: 0px 60px;
}
.about-content-image-layer:hover {
    cursor: zoom-in;
}
.about-content-image-layer {
    width: 100%;
    height: 100%;
    /* margin-top: -200px; */
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
}
.main-about-content {
    padding-top: 40%;
}
.main-about-content:hover {
    cursor: text;
}
.main-about-content p {
    color: white;
    font-size: 40px;
    text-align: center;
}
.main-about-content h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: crimson;
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: center;
}
.social-icon {
    display: flex;
    justify-content: space-evenly;
}
.social-icon-text {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
    color: white;
}
.social-icon-text:hover {
    cursor: text;
}
.social-icon a {
    font-size: 50px;
    text-decoration: none;
    color: crimson;
}
.social-icon a:hover {
    cursor: pointer;
    color: rgb(158, 16, 45);
}
.about-content-image-layer:hover .social-icon {
    display: block;
    display: flex;
    justify-content: space-evenly;
}
.about-content-image:hover .about-content-image-layer {
    display: block;
}

.site-image-text-header {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
}
.site-image-text {
    font-size: 22px;
    color: rgb(116, 114, 114);
    line-height: 30px;
    margin-top: 20px;
    padding-left: 10px;
}
.site-image-text2 {
    line-height: 40px;
    padding-left: 30px;
    margin-top: 20px;
    white-space: nowrap;
}
.site-image-text2 .fa {
    color: crimson;
    font-size: 20px;
}
.site-image-text2 span {
    font-size: 21px;
    color: rgb(116, 114, 114);
}
.secondary-btn-expan {
    display: flex;
    justify-content: flex-end;
}
.secondary-btn {
    width: fit-content;
    text-transform: capitalize;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: crimson;
    color: white;
    margin-top: 100px;
    transition: 0.3s;
}
.secondary-btn:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid crimson;
    color: black;
}

@media (max-width: 1133px) {
    .about-header {
        font-size: 30px;
    }
    .about-content-image {
        height: 600px;
    }
    .main-about-content {
        margin-top: 100px;
    }
    .main-about-content p {
        font-size: 20px;
    }
    .main-about-content h1 {
        font-size: 30px;
        text-align: center;
    }
    .social-icon-text {
        font-size: 25px;
    }
    .social-icon .fa {
        font-size: 30px;
    }
    .site-image-text-header {
        font-size: 22px;
    }
    .secondary-btn {
        font-size: 20px;
    }
    .about-content-image-layer {
        margin-top: -100px;
    }
}
@media (max-width: 982px) {
    .about-content-container {
        display: flex;
        flex-wrap: wrap;
    }
    .site-image-text-header {
        text-align: center;
    }
    .about-content-image {
        margin-top: 20px;
    }
}
@media (max-width: 430px) {
    .secondary-btn-expan {
        display: flex;
        justify-content: center;
    }
    .about-content-image {
        margin: 0px;
        height: 500px;
    }
}


.partner-container {
    margin-top: 60px;
}
.partner-header {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size: 30px;
}
.partner-image-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partner-image {
    /* background-image: url('/images/partner1.png');
    background-size: cover;
    width: 500px;
    height: 700px; */
}
.main-partner-image {
    width: 300px;
    height: 300px;
    margin: 20px 30px;
}



.service-container {
    margin-top: 150px;
}
.main-service-container {
    display: flex;
    justify-content: center;
}
.main-service {
    color: #333;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 0px 20px;
}
.main-service:hover {
    box-shadow: 0px 0px 20px;
}
.service-icon {
    font-size: 50px;
    text-align: center;
}
.service-icon .fa:hover {
    cursor: pointer;
}
.service-header {
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
    margin-top: -10px;
}
.service-group {
    transition: 0.3s;
}
.service-group:hover {
    color: crimson;
}
.service-text {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}
.main-service-container .secondary-btn {
    margin-top: 20px;
    margin-left: 50%;
    background-color: transparent;
    border: 2px solid crimson;
    color: crimson;
    white-space: nowrap;
    transform: translateX(-50%);
}
.main-service-container .secondary-btn:hover {
    cursor: pointer;
    background-color: crimson;
    color: white;
}
.main-service-container.ed {
    margin-top: 30px;
}

@media (max-width: 1367px) {
    .service-icon .fa {
        font-size: 40px;
    }
    .service-header {
        font-size: 30px;
    }
    .service-text {
        font-size: 18px;
    }
    .main-service-container .secondary-btn {
        font-size: 15px;
    }
    .service-container .about-header {
        font-size: 30px;
    }
}
@media (max-width: 1097px) {
    .main-service-container {
        display: flex;
        flex-wrap: wrap;
    }
    .main-service.pr {
        margin-top: 30px;
    }
    .service-container .about-header {
        font-size: 20px;
    }
}
@media (max-width: 1066px) {
    .main-service.pr2 {
        margin-top: 30px;
    }
}



.web-container {
    margin-top: 180px;
    display: flex;
}
.web-image1 {
    width: 50%;
}
.main-web-image1 {
    width: 100%;
    height: 480px;
}
.web-image2 {
    width: 50%;
    height: 480px;
    background-image: url('/images/landing_page_image.png.jpg');
    /* background-size: cover; */
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.web-image2::before {
    content: 'shanas';
    background-color: black;
    opacity: 0.8;
    width: 50%;
    height: 480px;
    position: absolute;
    z-index: -1;
}
.web-image2-content {
    margin-bottom: 20px;
    z-index: 1;
}
.web-image2-content h2 {
    text-transform: uppercase;
    font-size: 35px;
    color: white;
    letter-spacing: 5px;
}
.web-image2-text {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    line-height: 38px;
}
.web-image2 .secondary-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    white-space: nowrap;
}
.web-image2 .secondary-btn:hover {
    cursor: pointer;
    color: crimson;
}
.web-image2-group {
    padding-left: 150px;
}

@media (max-width: 1144px) {
    .web-image2-content h2 {
        font-size: 25px;
    }
    .web-image2-text {
        font-size: 18px;
    }
    .web-image2-group {
        margin-left: -50px;
    }
}
@media (max-width: 849px) {
    .web-image2-group {
        margin-left: -100px;
    }
}
@media (max-width: 430px) {
    .web-image2-group .secondary-btn {
        margin-top: 20px;
        font-size: 15px;
    }
    .web-image2-group {
        margin-left: -130px;
    }
    .web-image2-content h2 {
        font-size: 15px;
    }
    .web-image2-text {
        font-size: 12px;
    }
}